<div class="container">
  <div class="text-center">
    <hr>
    <div class="buttons">
      <button
        class="option-button col-md-4"
        (click)="sendOption()">
        First Option
      </button>
      <button
        class="option-button col-md-4"
        (click)="sendOption()">
        asdasaas Option
      </button>
      <button
        class="option-button col-md-4"
        (click)="sendOption()">
        12afsff Option asdas
      </button>
      <button
        class="option-button col-md-4"
        (click)="sendOption()">
        12afsff aa s sa
      </button>
      <hr>
    </div>

  </div>
</div>
